.cardInputField{
    text-align: center;
    margin-top: 80px;
}
.cardNumber{
    font-size: 22px;
    color: #757272;
}
span{
    color:red;
}
input{
    padding: 12px;
    width: 50px;
    margin-left: 12px;
    border: 1px solid #6fb1cc;
    border-radius: 4px;
}
.card{
    font-size: 20px;  
}
.passInput {
    text-align: center;
    width: 20px;
  }
input:focus {
    border-style: solid;
    border-color: rgb(4, 84, 255);
  }
